{% extends 'core/base_without_navbar.html' %}
{% load static %}


{% block css %}

{% endblock css %}

{% block content %}

<!-- Create login page, in the center  -->
<div class="mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center mb-4">Login</h1>
      <form method="post">
        {% csrf_token %}
        <div class="form-group d-flex justify-content-center">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="user_type" value="student" id="student_radio" checked>
            <label class="form-check-label" for="student_radio">Student</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="user_type" value="teacher" id="teacher_radio">
            <label class="form-check-label" for="teacher_radio">Teacher</label>
          </div>
        </div>
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" name="username" class="form-control" id="username" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" name="password" class="form-control" id="password" required>
        </div>
        <button type="submit" class="mt-2 btn btn-primary btn-block">Login</button>
      </form>
    </div>
  </div>
</div>

  



{% endblock content %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>

{% endblock script %}