{% extends 'core/base.html' %}

{% block container %}
<div class="row">
    <div class="col-sm-9 ">
        {% if category %}
        <h1>{{ category.title }}</h1>
        {% elif tag %}
        <h1>{{ tag.title|title }}</h1>
        {% else %}
        <h1>Tüm Blog Postlari</h1>
        {% endif %}
        {% for post in posts %}
        <div class="col-mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm">
                            <img src="{{ post.cover_image.url }}" class="w-100 img-thum,bnail">
                        </div>
                        <div class="col-sm">
                            <h5 class="card-title">{{ post.title }}<h5>
                                    <p class="card-text">
                                        {{ post.content|safe|truncatewords_html:10 }}
                                    </p>
                                    <ul class="list-inline">
                                        {% for tag in post.tag.all %}
                                        <a href="{{ tag.get_absolute_url }}">
                                            <span class="badge rounded-pill text-bg-info">
                                                {{ tag.title }}
                                            </span>
                                        </a>
                                        {% endfor %}
                                    </ul>
                                    <a href="{{ post.get_absolute_url }}" class="card-link">İncele</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}

        {% if posts.paginator %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if posts.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
                {% endif %}
                
                {% with ''|center:posts.paginator.num_pages as range %}
                {% for i in range %}
                    <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                {% endfor%}
                {% endwith %}

                {% if posts.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ posts.paginator.num_pages }}">Last</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
    <div class="col-sm-3 ">
        <div class="list-group">
            <h3>Kategoriler</h3>
            {% for category in categories %}
            <a href="{{ category.get_absolute_url }}" class="list-group-item" aria-current="true">
                {{ category.title }}
            </a>
            {% endfor %}
            <h3 class="mt-3">Etiketler</h3>
            <ul class="list-inline mt-4">
                <li class="list-inline-item">
                    {% for tag in tags %}
                    <a href="{{ tag.get_absolute_url }}">
                        <span class="badge rounded-pill text-bg-info">
                            {{ tag.title }}
                        </span>
                    </a>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock container %}